.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-weight: 800;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.splashFooterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rememberContainer {
    display: flex;
    gap: 10px;
}

.linkHighlight {
    color: #5288ff;
}

.successAlert {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}