@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Reset básico de CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
}

/* Desabilita o comportamento de links sublinhados em navegadores */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove os estilos padrão de botões */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Remove o estilo de foco de elementos ao usar o teclado */
:focus {
  outline: none;
}
