.ibContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    border: 1px solid #c9c9c9;
    width: 100%;
    border-radius: 10px;
    padding: 10px;

    font-size: 12px;
}

.ibTexts {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.ibTitle {
    font-weight: 800;
}