.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    flex-grow: 1;
}

.welcomeContainer {
    width: 100%;
}

.welcomeImage {
    background-image: url("/images/chessimage.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    padding: 80px;
}

.welcomeLabel {
    font-weight: 500;
    background-color: #5288FF;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.landInfoLayout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.landInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.landInfoTitle {
    font-weight: 800;
}

.didYouKnowLayout {
    display: flex;
    flex-direction: column;

    width: 90%;
    margin: auto;
    padding: 10px;

    background-color: #D9E5FF;
    border-radius: 10px;
}

.didYouKnowTitle {
    font-weight: 800;
    color: #5288FF;
}

.didYouKnowDesc {
    color: #605E5E;
}