.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;

    border-radius: 5px;
    padding: 20px;
    background-color: #5288FF;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    font-weight: 800;
}