.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-direction: column;

    border-radius: 5px;
    padding: 20px;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5288FF;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.label {
    font-weight: 800;
}