.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #C9C9C9;
}

.informationContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
}