.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-weight: 800;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.splashFooterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}